%div(style="text-align:center")
= image_tag "logo_mindapp.png"

  
%h2 Current gems version found: 
%ul
  %li Ruby Version #{RUBY_VERSION }
  %li Rails Version #{Rails.version }
  %li gem mindapp2 #{Gem.loaded_specs['mindapp2'].version}



%h2 Requirements
%ul  
  %li Rubygems 2.4.1
  %li Rails 5.1.4
  %li rails new YOURAPP -skip-test-unit --skip-bundle --skip-active-record


%h2 Installation
%ul
  %li gem 'mindapp2', '~> 0.1.1.5'
  %li bundle
  %li rails generate mindapp:install
  %li bundle
  %li rails generate mindapp:mongoid
  %li rake db:seed, will create initial user:password admin:secret
  %li when update app/mindapp/index.mm, run rake mindapp:update
